
& // referst to body
  background: $color
  color: $white

.page-section
  .inner-column
    width: 98%
    max-width: 900px
    margin-right: auto
    margin-left: auto
    padding: $pad

.main-menu
  position: fixed
  bottom: $pad*2
  right: $pad*2
  extra-large-type()
  
body.welcome
  height: 100vh

.design.overview
  h1
    large-type()
